body{
    color: rgb(15, 15, 15);
    background: rgb(224, 29, 29);
    margin: 0px;
}

header{
    border-bottom: solid 4px rgb(255, 255, 255);
    padding: 20px;
    font-size: 40px;
    color:rgb(8, 156, 241);
}

section{
    background: rgb (28, 49, 73, 1);
}